 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, picture {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
font-family: courier-std, courier, san-serif;
background-color: #000;
color:  rgb(0, 255, 128);
}

body {
	margin: 2% auto;
	width: 80%
}

h2{
font-size: 3em;
display: block;
margin-bottom: 0;
margin-top: 0;
}

h1{
font-size: 7em;
display: block;
margin-top: 1em;
margin-bottom: 0
}

h3 {
margin-top: 0;
font-size: 2em}

h4 {
margin-top: 0;
font-size: 1.6em}

h5 {
margin-top: 2em;
font-size: 2em}


/*tricks*/

h3, h4 {
	position: relative;
	/*context for machine to line up*/
	height: 1em	
}

.machine, .human {
position: absolute;
top: 0;
left: 0;
display: block;
background: #000}

.machine {opacity: 0;
transition: opacity .3s}

.machine:hover, .machine:active  {opacity: 1}

p a {font-size: 2em;
color:  rgb(0, 255, 128);
 }
 
 p {margin-top: 2em}

.cursor {
	font-weight: bold;
	font-size: .8em;
	display: inline-block;
	margin-top: -2em
}

.calendar {
	font-size: 1.6em
}
